<div class="text-center" data-gr-c-s-loaded="true">
    <img src="images/headerType.png" width="100%">
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-8">
            <h4>Your Squad:</h4>
        </div>
        <div class="col-sm-4"><button type="submit" class="btn btn-primary" style="width: 18rem;">Start
                Game</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="{{photo}}" class="card-img-top" alt="...">
                <div class="card-body" method="GET" action="/api/team">
                    <h5 name="name" class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li name="class" class="list-group-item">Class: {{class}}</li>
                    <li name="age" class="list-group-item">Age: {{age}}</li>
                    <li name="height" class="list-group-item">Height: {{height}}</li>
                    <li name="strength" class="list-group-item">Strength: {{strength}}</li>
                    <li name="weakness" class="list-group-item">Weakness: {{weakness}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="{{photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p name="description" class="card-text">{{description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Class: {{class}}</li>
                    <li class="list-group-item">Age: {{age}}</li>
                    <li class="list-group-item">Height: {{height}}</li>
                    <li class="list-group-item">Strength: {{strength}}</li>
                    <li class="list-group-item">Weakness: {{weakness}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="{{photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Class: {{class}}</li>
                    <li class="list-group-item">Age: {{age}}</li>
                    <li class="list-group-item">Height: {{height}}</li>
                    <li class="list-group-item">Strength: {{strength}}</li>
                    <li class="list-group-item">Weakness: {{weakness}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>